<!DOCTYPE html>
<html>
<head>
    <title>My first Vue app</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <input type="text" v-model="message"><br/>
    {{ reverseString }}
    <button @click="count++">Click me</button>
    {{ count }}
    <br/>
    <input type="text" v-model="newItem"><button @click="addItem">Add</button><br/>
    <input type="text" v-model="deletableItem"><button @click="delItem(deletableItem)">Delete</button><br/>
    <item-list v-bind:items="items" slug="all" title="All items"></item-list>
    <item-list v-bind:items="doneItems" slug="done" title="Done items"></item-list>
    <item-list v-bind:items="notDoneItems" slug="notDone" title="Not Done items"></item-list>
</div>

<script>
    Vue.component("item-list", {
        props: ['items', 'slug', 'title'],
        template: `
<div>
<h1>{{title}}</h1>
    <ul>
        <li v-for="(item, key) in items" :key="slug + '-' + item.id">
            {{ item.name }}
            <input type="checkbox" v-model="item.isDone">
        </li>
    </ul>
</div>`
    });

    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            count: 0,
            idCount: 3,
            items: [
                { name: 'milk', isDone: false, id: 1 },
                { name: 'apple', isDone: false, id: 2 },
                { name: 'chips', isDone: false, id: 3 },],
            newItem: '',
            deletableItem: '',
        },
        computed: {
            doneItems() {
                return this.items.filter(element => element.isDone)
            },
            notDoneItems() {
                return this.items.filter(element => !element.isDone)
            },
            reverseString() {
              return this.message.split("").reverse().join("");
            }
        },
        methods: {
            addItem() {
                this.idCount++;
                if (this.newItem) {
                    this.items.push({name: this.newItem, isDone: false, id: this.idCount});
                    this.newItem = '';
                }
            },
            delItem(item) {
                this.items = this.items.filter(element => element.name !== item);
            }
        }
    })
</script>
</body>
</html>