<!DOCTYPE html>
<html>
<head>
    <title>My first Vue app</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="app">
    <input type="text" v-model="message"><br/>
    {{ message }}
    <button @click="count++">Click me</button>
    {{ count }}
    <br/>
    <input type="text" v-model="newItem"><button @click="addItem">Add</button><br/>
    <input type="text" v-model="deletableItem"><button @click="delItem(deletableItem)">Delete</button><br/>
    <ul>
        <li v-for="item in items">{{ item.name }}</li>
    </ul>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            count: 0,
            items: [
                { name: 'milk', isDone: false, id: 0 },
                { name: 'apple', isDone: false, id: 0 },
                { name: 'chips', isDone: false, id: 0 },],
            newItem: '',
        },
        methods: {
            addItem() {
                if (this.newItem) {
                    this.items.push({name: this.newItem, isDone: false, id: 0});
                    this.newItem = '';
                }
            },
            delItem(item) {
                this.items = this.items.filter(element => element.name !== item);
            }
        }
    })
</script>
</body>
</html>